<template>
  <div class="event" :style="{backgroundColor: color()}" @click.stop="update">
    {{ `${event.startTime.HH}:${event.startTime.mm} - ${event.endTime.HH}:${event.endTime.mm}` }}
    <button class="update-event">#</button>
    <button class="delete-event" @click.stop="remove">-</button>    
  </div>
</template>

<script>
import randomColor from 'randomcolor'


export default {
  name: 'Event',
  props: ['event'],
  methods: {
    color () {
      return randomColor({
        luminosity: 'dark'
      })
    },
    update () {
      this.$emit('update')
    },
    remove () {
      this.$swal({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, delete it!'
      }).then((result) => {
        if (result.value) {
          this.$store.commit('removeEvent', this.event)
        }
      })      
    }
  }
}
</script>

<style scoped>
.event {
  color: white;
  font-size: 10px;
  border-radius: 5px;
  padding: 1px;
  margin-bottom: 2px;
}

.event button {
  border: 0;
  font-size: 13px;
  border-radius: 30px;
  padding: 0px 4px;
  margin: 1px;
  cursor: pointer;
}

.event .update-event {
  background-color: #66b285; 
  margin-left: 5px;
}

.event .delete-event {
  background-color: #b26d66;
}
</style>
