<template>
<modal 
  name="update-event" 
  transition="pop-out" 
  @before-open="beforeOpen"
  :width="350" 
  :height="400"
>
  <div class="box">
    <div class="box-part" id="bp-left">
      <div class="partition" id="partition-register">
        <div class="partition-title">Update Event</div>
        <div class="partition-form">
                      
          <div class="columns">
            <label class="timing">Starting Time</label>
            <div class="column">
              <vue-timepicker 
                :minute-interval="10" 
                v-model="startTime"
                :hide-clear-button="true"
              ></vue-timepicker>
            </div>
          </div>
          
          <div class="columns">
            <label class="timing">Ending Time</label>
            <div class="column">              
              <vue-timepicker 
                :minute-interval="10" 
                v-model="endTime"
                :hide-clear-button="true"
                ></vue-timepicker>
                <span class="error" v-if="noEndTimeError">
                  Oh, some error!
                </span>
            </div>
          </div>

          <div class="columns">
            <label class="timing">Date</label>
            <div class="column">              
              <v-date-picker
                mode='single'
                v-model='date'>
                <b-field :type='inputState.type' slot-scope='props'>
                  <b-input
                    type='text'
                    icon='calendar'
                    class="datepickr"
                    :value='props.inputValue'
                    :placeholder='inputState.message'
                    @change.native='props.updateValue($event.target.value)'
                    expanded>
                  </b-input>
                </b-field>
              </v-date-picker>
            </div>
          </div>

          <button class="large-btn update-event" @click="update">Remember Me</button>
        </div>
      </div>
    </div>
  </div>
</modal>
</template>
<script>
import Vue from 'vue'
import VueTimepicker from 'vue2-timepicker'
import { setupCalendar, Calendar, DatePicker } from 'v-calendar'

import 'v-calendar/lib/v-calendar.min.css'

Vue.use(VueTimepicker)

setupCalendar({
  firstDayOfWeek: 2
})

export default {
  name: 'updateEvent',
  data () {
    return {
      event: {},
      startTime: {},
      endTime: {},
      noEndTimeError: false,
      date: new Date(1992, 3, 22),
      inputState: {
        type: 'is-primary',
        message: 'Starting Date'
      }
    }
  },
  components: {
    'v-calendar': Calendar,
    'v-date-picker': DatePicker,
    'vue-timepicker': VueTimepicker
  },
  methods: {
    beforeOpen (obj) {
      const { event } = obj.params.props

      this.event = event
      this.date = new Date(event.date)
      this.startTime = {
        HH: event.startTime.HH,
        mm: event.startTime.mm
      },
      this.endTime = {
        HH: event.endTime.HH,
        mm: event.endTime.mm
      }
    },
    update () {
      const { date, startTime, endTime, event: { id } } = this

      if (startTime.HH > endTime.HH) {
        this.noEndTimeError = true
      } else if (startTime.HH == endTime.HH && startTime.mm >= endTime.mm) {
        this.noEndTimeError = true
      } else {
        this.noEndTimeError = false

        this.$store.commit('updateEvent', {
          oldID: id, 
          new: {
            id,
            date,
            endTime,
            startTime
          }
        })

        this.$modal.hide('update-event')
      }
    }
  }
}
</script>
<style lang="scss">
$background_color: #518e6a;
$github_color: #518e6a;

.box {
  background: white;
  overflow: hidden;
  width: 350px;
  height: 400px;
  border-radius: 2px;
  box-sizing: border-box;
  box-shadow: 0 0 40px black;
  color: #8b8c8d;
  // font-size: 0;

  .box-messages {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
  }

  label {
    font-size: 14px;
    color: gray;
    text-align: center;
  }

  label.timing {
    line-height: 55px;
    width: 90px;
  }

  .box-error-message {
    position: relative;
    overflow: hidden;
    box-sizing: border-box;

    height: 0;
    line-height: 32px;
    padding: 0 12px;
    text-align: center;
    width: 100%;
    font-size: 11px;
    color: white;
    background: #F38181;
  }

  .partition {
    width: 100%;
    height: 100%;

    .partition-title {
      box-sizing: border-box;
      padding: 30px;
      width: 100%;
      text-align: center;
      letter-spacing: 1px;
      font-size: 20px;
      font-weight: 300;
    }

    .partition-form {
      padding: 0 20px;
      box-sizing: border-box;
    }
  }

  input[type=password],
  input[type=text] {
    display: block;
    box-sizing: border-box;
    margin-bottom: 4px;
    width: 100%;
    font-size: 12px;
    line-height: 2;
    border: 0;
    border-bottom: 1px solid #DDDEDF;
    padding: 4px 8px;
    font-family: inherit;
    transition: 0.5s all;
    outline: none;
  }

  button {
    background: white;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 10px;
    letter-spacing: 1px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    min-width: 140px;
    margin-top: 8px;
    color: #8b8c8d;
    cursor: pointer;
    border: 1px solid #DDDEDF;
    text-transform: uppercase;
    transition: 0.1s all;
    font-size: 10px;
    outline: none;
    &:hover {
      border-color: mix(#DDDEDF, black, 90%);
      color: mix(#8b8c8d, black, 80%);
    }
  }

  .large-btn {
    width: 100%;
    background: white;

    span {
      font-weight: 600;
    }
    &:hover {
      color: white !important;
    }
  }

  .update-event {
    border-color: $github_color;
    color: $github_color;
    &:hover {
      border-color: $github_color;
      background: $github_color;
    }
  }

  .autocomplete-fix {
    position: absolute;
    visibility: hidden;
    overflow: hidden;
    opacity: 0;
    width: 0;
    height: 0;
    left: 0;
    top: 0;
  }
}

.pop-out-enter-active,
.pop-out-leave-active {
  transition: all 0.5s;
}

.pop-out-enter,
.pop-out-leave-active {
  opacity: 0;
  transform: translateY(24px);
}

.datepickr input {
  border: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  border-bottom: 1px solid #dddedf;
  border-radius: 0;
  padding: 5px 7px !important;
  width: 160px;
  font-weight: bold;
  text-align: center;
}

.box input,
.time-picker .dropdown,
.time-picker .dropdown .select-list {
    width: 180px !important;
    text-align: center;
}

.v--modal-overlay .v--modal-box,
.v--modal-overlay .v--modal-box > .box {
  overflow: visible;
}

.error {
  color: red;
  font-size: 12px;
}
</style>