<template>
  <div class="cal">
    <table class="week">
      <tr>
        <td 
          v-bind:key="day.format('D')" 
          v-for="day in week" 
          @click="createEvent(day)"
          :class="todayClass(day)"
        >
          <span class="spin">+</span>
          <span>{{ day.format('dddd') }}</span>
          <draggable 
            class="events"
            v-bind:date="day"
            @end="onEndMove"
            :list="week[day]"
            :options="{group: 'days'}"
          >
            <event 
              :key="event.id"
              :event="event"
              v-bind:id="event.id"
              @update="updateEvent(event)"
              v-if="eventOnDay(day, event)"
              v-for="event in events" 
              />
          </draggable>
        </td>
      </tr>
    </table>
    
    <create-event/>
    <update-event/>
  </div>
</template>

<script>
import moment from 'moment'
import { mapState } from 'vuex'
import draggable from 'vuedraggable'

import CreateEvent from './events/create.vue'
import updateEvent from './events/update.vue'
import Event from './events/event.vue'

export default {
  name: 'Cal',
  data(){
    return{
      week: [],
      attrs: [
        {
          key: 'today',
          highlight: {
            backgroundColor: '#ff8080'
          },
          dates: new Date(2018, 0, 1)
        }
      ]
    }
  },
  components: {
    'create-event': CreateEvent,
    'update-event': updateEvent,
    'event': Event,
    draggable
  },
  computed: {
    ...mapState([
    'events'
    ]),
    draggableEvents (day) {
      console.log(day)
      return day
    }
  },
  mounted () {
    const startOfWeek = moment().startOf('isoWeek')
    const endOfWeek = moment().endOf('isoWeek')

    let day = startOfWeek

    while (day <= endOfWeek) {
        this.week.push(day)
        day = day.clone().add(1, 'd')
    }
  },
  methods: {
    createEvent (day) {
      this.$modal.show('create-event', {props: {day}})
    },
    updateEvent (event) {
      this.$modal.show('update-event', {props: {event}})
    },
    todayClass (day) {
      const diff = day.diff(moment(), 'hours')

      return diff > -24 && diff < 0 && 'today'
    },
    eventOnDay (day, event) {
      return moment(event.date).isSame(day.toDate())
    },
    onEndMove ({ item, to }) {
      const event = this.$store.state.events.find(event => event.id == item.attributes.id.value)
      
      this.$store.commit('updateEvent', {
        oldID: event.id, 
        new: {...event, date: to.attributes.date.value}
      })
    }
  }
}
</script>

<style scoped>

.cal {
  overflow-x: auto;
}

.cal .week {
  width: 1000px;
  margin: auto;
  list-style: none;
}

.week td {
  text-align: center;
  display: inline-block;
  width: 12%;
  height: 100px;
  background: #394a5c;
  border: 1px solid #66b285;
  padding: 0 4px 4px;
  cursor: pointer;
  overflow: scroll;
}

.week td.today {  
  border: 0px;
  padding: 5px;
  background: #66b285;  
}

.week td span {
  color: #ffffff;
  font-weight: bold;
}

.week td .events {
  min-height: 50px;
}

.week td.today span {
  color: #394a5c;
}

.week td span.spin {
  font-size: 18px;
}

.week td span.spin {
  margin-right: 5px;
  display: inline-block;
  transition: transform 2s;
}

.week td:hover span.spin {
  -webkit-transform: rotate(180deg); /* Safari */
  transform: rotate(180deg);
}

</style>
